:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}